@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fafafa;
  --fg: #09090b;
  --card-bg: #ffffff;
  --card-fg: #09090b;
  --border-color: #e4e4e7;
}

.dark {
  --bg: #09090b;
  --fg: #fafafa;
  --card-bg: #18181b;
  --card-fg: #fafafa;
  --border-color: #27272a;
}

body {
  background-color: var(--bg);
  color: var(--fg);
}
